<ActionBar height="75" color="#000" class="grad">
    <NavigationButton ios:visibility="collapsed" icon="res://back" (tap)="goBack()"></NavigationButton>
    <ActionItem icon="res://back" android:visibility="collapsed" (tap)="goBack()"
    ios.position="left"> </ActionItem> 
    <Label text="Daily Thoughts" class="action-label"></Label>
</ActionBar>  
<StackLayout class="top-gradient">
     <Card:CardView class="cardStyle" margin="10" elevation="40" radius="10">
        <grid-layout rows="200, auto, auto" columns="auto, auto, *" Height="900">
            <Image [src]="itemDetails.ImageUrl" stretch="aspectFill" colSpan="3" row="0" /> 
            <Label textWrap="true" text="{{itemDetails.Quote}}" class="h2 description-label info" textWrap="true" row="1" colSpan="3"></Label>
            <Label textWrap="true" text="{{itemDetails.Author}}" class="description-label" row="2" col="0"></Label>
        </grid-layout>
    </Card:CardView> 
</StackLayout>