<ActionBar title="Inspirational Videos" height="75" class="{{actionBarThemeClass}}">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem> 
</ActionBar>
 <GridLayout class="{{pageBackThemeClass}}">

    <StackLayout class="content">
        <StackLayout VerticalAlignment="middle" visibility="{{ isBusy ? 'visible' : 'collapsed' }}">
            <ActivityIndicator [busy]="isBusy" color="white" class="activity-indicator" width="200" height="100"></ActivityIndicator>
        </StackLayout> 
        <ListView [items]="items" >     
            <ng-template let-item="item" let-i="index" >
                <StackLayout>
                <Card:CardView  class="cardStyle" margin="10" elevation="40" radius="5" (longPress)="onLongPress(i,item)">
                    <grid-layout rows="auto, auto, auto"  columns="*,auto">
                        <Gif:Gif *ngIf="image.isLoaded" src="~/app/home/loading.gif" colSpan="2" row="1"  height="200" />
                        <Label textWrap="true" text="{{item.title}}" class="description-label info quote-font" row="0" colSpan="2"></Label>
                        <Image #image [src]="item.mediumThumbnail" stretch="aspectFill" colSpan="2" row="1" (tap)="onCardTap(item)"></Image>
                    </grid-layout>
                </Card:CardView> 
            </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>
 

 </GridLayout> 