<ActionBar title="Positive Thoughts" height="75" class="{{actionBarThemeClass}}">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem> 
    <!-- <ActionItem (tap)="changeThemeTap()"
    text="Change Theme" android.position="popup"></ActionItem>
    <ActionItem (tap)="changeLanguageTap()"
    text="Change Language" android.position="popup"></ActionItem> -->
</ActionBar>
 <GridLayout class="{{pageBackThemeClass}}">
    <StackLayout class="content">
        <StackLayout VerticalAlignment="middle" visibility="{{ isBusy ? 'visible' : 'collapsed' }}">
            <ActivityIndicator [busy]="isBusy" color="white" class="activity-indicator" width="200" height="100"></ActivityIndicator>
        </StackLayout> 
        <ListView [items]="items" >     
            <ng-template let-item="item" let-i="index" >
                <StackLayout>
                <Card:CardView id="thoughtCard" class="cardStyle" margin="10" elevation="40" radius="5" (longPress)="onLongPress(i,item)" #screen>
                    <grid-layout rows="200, auto, auto"  columns="*,auto">
                        <Gif:Gif *ngIf="image.isLoaded" src="~/app/home/loading.gif" colSpan="2" row="0"  height="200" />
                        <Image #image [src]="item.imageurl" stretch="aspectFill" colSpan="2" row="0" (tap)="onCardTap(item)"></Image>
                        <Label textWrap="true" text="{{item.Quote}}" class="description-label info quote-font" row="1" colSpan="2"></Label>
                        <Label text="{{item.author}}" class="description-label author-font" row="2" col="0"></Label>
                        <Image (tap)="downloadImage($event)" src="res://share" stretch="fit" horizontalAlignment="right" row="2" col="3" margin="10 20 5 10"></Image> 
                        <Image id="logo" #logo src="res://icon" stretch="fit" row="2" col="1" visibility="hidden"></Image>
                    </grid-layout>
                </Card:CardView> 
            </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>
 </GridLayout> 