<ActionBar title="Settings" height="75" class="{{actionBarThemeClass}}">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem> 
    <!-- <ActionItem (tap)="changeThemeTap()"
    text="Change Theme" android.position="popup"></ActionItem>
    <ActionItem (tap)="changeLanguageTap()"
    text="Change Language" android.position="popup"></ActionItem> -->
</ActionBar>
 <GridLayout class="{{pageBackThemeClass}}">
    <ListView [items]="items" >     
        <ng-template let-item="item" let-i="index" >
            <Label text="{{item}}" class="description-label author-font" (tap)="onTap(item)" row="2" col="1"></Label>
        </ng-template>
    </ListView>
</GridLayout>